.mc-container {
  display: flex;
  padding: 2rem;
  margin: 2rem auto;
  border-radius: 20px;
  background-color: var(--tertiary-color);
  color: #fff;
  animation: expand .8s ease forwards;
  position: relative;
  transition: all .8s ease;
}

.mc-contest {
  height: auto;
  overflow: hidden;
  font-size: 1.5rem;
  font-weight: 600;
  color:var(--warning-color);
}

.mc-team {
  font-size: 1.2rem;
  font-style: italic;
  color:#fff;
  line-height: 28px;
  transform: translateY(300px);
  animation: slideUp .8s ease-in-out forwards .8s;
  margin: auto 1rem;
}

.mc-team-line {
  width: 60%;
}

.mc-btn {
  position: relative;
  overflow: hidden;
  margin: 1rem auto;
}

.mc-btn_more {
  background: transparent;
  border: 0.2rem solid var(--warning-color);
  border-radius: 100rem;
  padding: 0.5rem 1rem;
  color: #fff;
  font-size: 1.2rem;
  font-weight: 600;
  position: relative;
  outline: none;
  animation: slideUp .8s ease-in-out forwards 1s;
  visibility: hidden;
}

.mc-userFriends {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  border: 0.2rem solid var(--warning-color);
  text-align: center;
  font-size: 1.8rem;
  padding: 0.5rem;
}

.title {
  overflow: hidden;
  color: var(--contrast-color);
  margin: 0 2rem;
  -webkit-text-stroke: 0.04rem #fff;
}

.title h1 {
    font-size: 35px;
    animation: slideUp .8s ease forwards .5s;
}

.mc-select {
  background-color: var(--contrast-color);
}

.mc-players {
  background: url('../img/imgHeader/court-couverts-tennis.jpg') center center fixed no-repeat;
  background-size: cover;
  height: 100%;
  border-radius: 20px;
}

.mc-player {
  margin: 2 rem;
}

@keyframes slideIn {
  0% {
    transform: translateX(500px) scale(.2);
  }
  100% {
    transform: translateX(0px) scale(1);
  }
}

@keyframes slideUp {
  0% {
    transform: translateY(500px);
  }
  100% {
    transform: translateY(0px);
    visibility: visible;
  }
}

@keyframes expand {
  0% {
    transform: translateX(100%) scale(.2);
  }
  100% {
    transform: translateX(0px) scale(1);
  }
}
