:root {
    --red-color: #ff035b;
    --blue-color: #04d9ff;
    --green-color: green;
}
@import url('https://fonts.googleapis.com/css2?family=Rampart+One&display=swap');

.mc-rampart {
    font-family: "Rampart One", cursive;
    font-size: 3vw;
    letter-spacing: 5px;
}

.mc-banner {
    background: url('../img/imgHeader/tennis-terre-battue_1920.jpg') center center fixed no-repeat;
    background-size: cover;
}

.footer {
    background-color: rgba(135, 209, 249, 0.2);
}

.imgHeader {
    margin-right: 10px;
    height: 100px;
}

#tcf-email,
#nav-dropdown,
.mc-nous-contacter {
    color: gray;
    padding-top: 0;
    padding-bottom: 0;
    font-size: small;
}

#tcf-email:hover,
#nav-dropdown:hover,
.mc-nous-contacter:hover {
    text-decoration-line: underline;
    font-weight: 600;
    color: blue;
}

.dropdown-item {
    font-size: small;
    padding-top: 0!important;
    padding-bottom: 0!important;
}

.mc-fond-ecran {
    /* background: url("../img/imgHeader/clubHouse1.jpg") center center fixed no-repeat;
    background-size: cover; */
    background-color: rgba(135, 209, 249, 0.3);
    padding-bottom: 30px;
}

/* ========================== PARTNERS ============================= */

.mc-img {
    height: 8rem;
    padding: 5px;
    /* object-fit: cover; */
    filter: brightness(95%);
}

.mc-img:last-of-type {
    padding-left: 0;
}

.mc-neon {
    margin: auto!important;
    background-color: #fff;
    width: 98%!important;
    border: 4px solid #fff;
    border-radius: 5px;
    box-shadow: 0 0 8px #fff, 0 0 16px rgb(13, 110, 253), 0 0 32px rgb(13, 110, 253);
}

.mc-carousel-infinite {
    position: relative;
    overflow: hidden;
    height: 8rem;
    width: 100%!important;
}

.mc-wrapper {
    position: absolute;
    display: flex;
}

.mc-partners-logo {
    display: flex;
    animation: defilement 20s linear infinite;
}

.mc-neon:hover {
    animation-play-state: paused;
}

@keyframes defilement {
    0%{ 
        transform: translate(0);
    }
    100%{ 
        transform: translate(-100%);
    }
  }
    

.mc-partners {
    letter-spacing: 0;
    margin: 0 auto;

    /* Clip Background Image */
    background: url('../img/imgPartners/animated-text-fill-light-blue.png') no-repeat;
    -webkit-background-clip: text;
    background-clip: text;

    /* Animate Background Image */
    -webkit-text-fill-color: transparent;
    animation: aitf 60s linear infinite;
}

/* Animate Background Image */

@keyframes aitf {
    0% {
      background-position: 0% 50%;
    }
    100% {
      background-position: 100% 50%;
    }
  }
      
/* ======================= WEATHER ================================ */

.mc-weather {
    background: url('../img/imgWeather/sun-clouds_1920.jpg') center center;
    background-size: cover;
    width: 350px;
    color: #fff;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    border-radius: 10px;
    border: 2px solid rgb(45, 45, 142);
    box-shadow: inset 0 0 30px rgb(45, 45, 142);
}

.mc-wsearch {
    text-align: center;
    /* padding: 1rem; */
    width: 95%;
}

.mc-winput {
    width: 100%;
    padding: 0.4rem 1rem;
    font-size: 1rem;
    border-radius: 25px;
    border: 1px solid rgba(255, 255, 255, 0.8);
    background: rgba(255, 255, 255, 0.4);
}

::placeholder {
    color: #f8f8f8;
}

.mc-wtop {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    margin: 0.5rem auto;
}

.mc-wlocation{
    font-size: 2rem;
    color: #2b2b2b;
}

.mc-wtemp {
    font-size: 3rem;
    color:black;
}

.mc-wdesc {
    font-size: 1.5rem;
    transform: rotate(270deg);
}

.mc-wbottom {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    text-align: center;
    width: 100%;
    margin: 0.5rem auto;
    padding: 0.5rem;
    border-radius: 10px;
    background-color: rgba(2, 57, 141, 0.5);
    font-weight: 700;
    font-size: 0.8rem;
}