:root {
    --red-color: #ff035b;
    --blue-color: #04d9ff;
    --green-color: green;
}
@import url('https://fonts.googleapis.com/css2?family=Rampart+One&display=swap');

.mc-rampart {
    font-family: "Rampart One", cursive;
    font-size: 4vw;
}

.mc-banner {
    background: url('../img/imgHeader/tennis-terre-battue_1920.jpg') center center fixed no-repeat;
    background-size: cover;
}

.footer {
    background-color: rgba(135, 209, 249, 0.2);
}

.imgHeader {
    margin-right: 10px;
    height: 100px;
}

#tcf-email,
#nav-dropdown {
    color: gray;
    padding-top: 0;
    padding-bottom: 0;
    font-size: small;
}

#tcf-email:hover,
#nav-dropdown:hover {
    text-decoration-line: underline;
    font-weight: 600;
}

.dropdown-item {
    font-size: small;
    padding-top: 0!important;
    padding-bottom: 0!important;
}

.mc-fond-ecran {
    /* background: url("../img/imgHeader/clubHouse1.jpg") center center fixed no-repeat;
    background-size: cover; */
    background-color: rgba(135, 209, 249, 0.3);
}

.mc-img {
    height: 10rem;
    padding: 5px;
    /* object-fit: cover; */
    filter: brightness(95%);
}

.mc-img:last-of-type {
    padding-left: 0;
}

.mc-neon {
    justify-content: center;
    background-color: white;
    width: 92vw;
    margin: auto!important;
    border: 4px solid #fff;
    border-radius: 5px;
    box-shadow:
    0 0 8px #fff,
    0 0 16px rgb(13,110,253),
    0 0 32px rgb(13,110,253);
}

.mc-carousel-infinite {
    position: relative;
    overflow: hidden;
    height: 10rem;
    width: 100%!important;
    /* margin: 1rem 0 !important; */
}

.wrapper {
    position: absolute;
    display: flex;
    left: 0;
    width: 100%;
}

.mc-partners-logo {
    display: flex;
    animation: defilement 20s linear infinite;
}

@keyframes defilement {
    0%{ 
        transform: translate(0);
    }
    100%{ 
        transform: translate(-100%);
    }
  }
    
/* ======================================================= */

.mc-partners {
    /* font: 700 4em/1 "Oswald", sans-serif; */
    letter-spacing: 0;
    padding: 0.25em 0 0.325em;
    margin: 0 auto;

    /* Clip Background Image */

    background: url(../img/imgPartners/animated-text-fill-light-blue.png) repeat-y;
    -webkit-background-clip: text;
    background-clip: text;

    /* Animate Background Image */

    -webkit-text-fill-color: transparent;
    animation: aitf 80s linear infinite;
}

/* Animate Background Image */

@keyframes aitf {
    0% {
      background-position: 0% 50%;
    }
    100% {
      background-position: 100% 50%;
    }
  }
  